body {
  background: #333;
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  width: 700px;
  margin: 0 auto;
  color: white;
}

.App-link {
  color: #61dafb;
}

.name-input {
  height: 40px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.name-submit {
  height: 42px;
  width: 40px;
  background: #61dafb;
  color: black;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.buzzer {
  width: 120px;
  height: 60px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
  background: #61dafb;
}

.clear {
  width: 120px;
  height: 60px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
  background: red;
}

.column{
  float: left;
  width: 50%;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.reset {
  margin-top: 100px;
  width: 120px;
  height: 50px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  color: white;
  background: red;
}

a, a:visited {
  color: lightcoral;
}