body {
  background: #282c34;
}

.App {
  text-align: center;
  font-size: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.name-input {
  height: 40px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.name-submit {
  height: 42px;
  width: 40px;
  background: #61dafb;
  color: black;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.buzzer {
  width: 320px;
  height: 180px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
  background: #61dafb;
}

.buzzer:hover {
  border: solid black 1px;
  transition: 0.3s;
}

.clear {
  width: 320px;
  height: 180px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
  background: red;
}

.clear:hover {
  border: solid black 1px;
  transition: 0.3s;
}

.teams-button {
  width: 200px;
  height: 90px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
  background: green;
}

.teams-button:hover {
  border: solid black 1px;
  transition: 0.3s;
}

.column{
  float: left;
  width: 50%;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.reset {
  margin-top: 100px;
  width: 120px;
  height: 50px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  color: white;
  background: red;
}
