<!DOCTYPE html>
<html>
	<head>
		<title>Admin Dashboard</title>
		<link rel="stylesheet" href="/public/index.css" />
		<link rel="stylesheet" href="/public/style.css" />
		<script type="text/javascript">
			function loadData () {
				fetch("/api/roomCount").then(res => {
					res.json().then(openRooms => {
						document.getElementById("open-rooms").innerHTML = openRooms.count;
					});
				});

				fetch("/api/roomsCreated").then(res => {
					res.json().then(roomsCreated => {
						document.getElementById("rooms-created").innerHTML = roomsCreated.count;
					});
				});

				fetch("/api/health").then(res => {
					res.json().then(something => {
						document.getElementById("server-health").innerHTML = something;
					});
				});
			}

			window.onload = () => {
				loadData();
				setInterval(() => {
					loadData();
				}, 5000);
			}
		</script>
	</head>
	<body>
		<div class="App">
			<a href="/">Tossup</a>
			<h3>Open rooms:</h3>
			<p id="open-rooms">...</p>
			<h3>Rooms created since last server start:</h3>
			<p id="rooms-created">...</p>
			<h6>Server Health:</h6>
			<p id="server-health" style="font-size: 0.8rem; margin-top: -30px;">...</p>
		</div>
	</body>
</html>
